html {
  font-size: 62.5%;
  font-family: MedievalSharp, sans-serif;

}

.App {
  background-image: url("./img/App/bg-main.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: MedievalSharp;
}

.Welcome {
  background-color: rgba(255, 255, 255, 0.15);
  width: 70%;
  height: 75%;

  box-sizing: border-box;
  padding: 50px;
}

.Welcome__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;

  color: black;
  text-shadow: 2px 2px 10px #fff;
}

.Welcome__container h1 {
  font-size: 8.4rem;
  margin: 0;
}

.Welcome__container h2 {
  font-size: 5.2rem;
  text-align: center;
}

.Welcome__container button {
  font-size: 3rem;
  max-height: 40px;
  height: 100%;
  width: 100%;
  max-width: 125px;

  background-color: grey;

  border: none;
  box-sizing: content-box;


  font-family: MedievalSharp;
  transition: max-height 1s, max-width 1s, font-size 1s;
}

.Welcome__container button:focus {
  outline: none;
}

.Welcome__container button:hover {
  max-height: 65px;
  max-width: 200px;
  font-size: 4.6rem;
}

.question {
  border: 1px ridge white;
  height: 500px;
  width: 65%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.question h2 {
  font-size: 5rem;
  align-self: flex-start;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.question form {
  font-size: 2.8rem;
}

.question form input {
  margin: 25px 0;
}

.question button {
  width: 120px;
  height: 35px;

  font-size: 2rem;
  font-weight: bold;
  font-family: MedievalSharp;
  letter-spacing: 2px;
  color: white;

  border: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.question button:hover {
  background-color: white;
  color: black;
}

.question button:focus {
  outline: none;
}

.result__container {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  padding: 75px;

  box-sizing: border-box;
  text-align: center;
}

.result__container h1 {
  font-size: 6rem;
}

.result__container h2 {
  font-size: 4.2rem;
}

.result__container p {
  font-size: 2.4rem;
  margin-left: 20px;
}

.alumni {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.alumni img {
  height: 200px;
  width: 125px;
}

.alumni .alumni__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
}
